navbar-right-align{
    text-align: right;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    text-align-last: right;
    margin-right: auto;
    margin-left: auto;
    margin-block-end: auto;
}